<div class="container-fluid">
    <partial name="_Navbar">

    <div class="d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-success m-2" onclick="CreateOrUpdateMovieGet(0)">Create Movie</button>
        <button type="button" class="btn btn-danger m-2" onclick="DeleteSingleOrAllMovies(0)">Delete All Movies</button>
    </div>

    <table id="movies-table" class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Duration</th>
                <th scope="col">Description</th>
                <th scope="col">Actors</th>
                <th scope="col">Image</th>
                <th scope="col">Cinema</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <partial name="_GeneralModal">
    <partial name="_ConfirmModal">
</div>

@section Scripts 
{
    <script type="text/javascript">
        var dt;

        $(document).ready(function () {
            dt = $("#movies-table").DataTable({
                ajax: {
                    url: '@Url.Action("MoviesDatatable", "Admin")',
                    type: 'POST'
                },
                processing: true,
                serverSide: true,
                ordering: false
            });

            $("#movies-table_filter input").change(function () {
                dt.search($(this).val()).draw();
            });
        });

        function CreateOrUpdateMovieGet(movieId) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("CreateOrUpdateMovie", "Admin")?movieId=' + movieId,
                success: function (response) {
                    $("#general-modal").modal("show");
                    $("#general-modal-title").html("Create Movie");
                    $("#general-modal-body").html(response);
                    dt.draw();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function CreateOrUpdateMoviePost() {
            // var data = $("#movie-form").serialize();
            var data = new FormData();

            var file = $('#File')[0].files[0];
            data.append("File", file);

            var strings = $("#movie-form").serializeArray();
            $.each(strings, function (key, input) {
                data.append(input.name, input.value);
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateOrUpdateMovie", "Admin")',
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    if (response == "OK") {
                        $("#general-modal").modal("hide");
                        $("#general-modal-title").html("");
                        $("#general-modal-body").html("");
                        dt.draw();
                    }
                    else {
                        console.log(response);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function DeleteSingleOrAllMovies(movieId) {
            $("#confirm-modal").modal("show");
            $("#confirm-modal-title").html("Confirm");
            $("#confirm-modal-body").html("Are you sure?");
            $("#confirm-modal-btn-delete").off("click");
            $("#confirm-modal-btn-delete").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteSingleOrAllMovies", "Admin")?movieId=' + movieId,
                    success: function (response) {
                        if (response == "OK") {
                            $("#confirm-modal").modal("hide");
                            $("#confirm-modal-title").html("");
                            $("#confirm-modal-body").html("");
                            dt.draw();
                        }
                        else {
                            console.log(response);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }
    </script>
}